@page "/"
<h3>Welcome To New Home Page </h3>

<p>
    Welcome to our Blazor application Greeting App.
</p>

<div class="mt-3">

    <h5>Features:</h5>
    
    <ul>
        <li> Greeting App</li>
        <li> Interactive UI</li>
        <li> Navigation</li>
        <li> User Friendly Design</li>
    </ul>

</div>

<div class="alert alert-info mt-4">

    Start ecploring the navigation menue with us.

</div>

@code {

}